<link rel="import" href="/bower_components/core-ajax/core-ajax.html">


<polymer-element name="crawley-fw">


    <template >


    </template>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/fancybox/source/jquery.fancybox.pack.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>

    <script type="text/javascript" src="/js/crawley.js" ></script>
    <script type="text/javascript" src="/js/geo.js" ></script>
    <script type="text/javascript" src="/js/lang.js" ></script>

    <!-- Analytics
    ================================================== -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-21959043-1']);
        _gaq.push(['_setDomainName', 'www.crawley.fr']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</polymer-element>